In [1]:
import numpy as np
import pandas as pd

## Q1. Pandas version

In [2]:
pd.__version__

'2.2.3'

### Getting the data

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv')

In [4]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

## Q2. Records count

In [5]:
recordsCount = df.shape[0]
print(f"We have {recordsCount} records in dataset")

We have 2160 records in dataset

## Q3. Laptops brands

In [6]:
laptopBrandsCount = df['Brand'].nunique()
print(f"We have {laptopBrandsCount} laptop brands are presented in the dataset")

We have 27 laptop brands are presented in the dataset

## Q.4 Missing values

In [7]:
countColumnsWithMissingValues = 0
for idx in df.isna().sum():
    if idx != 0:
        countColumnsWithMissingValues += 1
print(f"We have {countColumnsWithMissingValues} columns with missing values in the dataset")

We have 3 columns with missing values in the dataset

In [8]:
listDellLaptop = df[df['Brand'] == 'Dell']
maxPriceDellLaptop = listDellLaptop['Final Price'].max()
print(f"The maximun final price of the  Dell notebooks is {maxPriceDellLaptop}")

The maximun final price of the  Dell notebooks is 3936.0

## Q6. Median value of Screen

In [9]:
def fill(col, value_fillna):
    return col.fillna(value_fillna)

In [10]:
# 1- Median value of Screen
df['Screen'].median()

np.float64(15.6)

In [11]:
# 2- Mode of Screen value
df['Screen'].mode()

0    15.6
Name: Screen, dtype: float64

In [12]:
df['Screen'].isna().sum()

np.int64(4)

In [13]:
# 3- Use fillna with the mode value "15.6"
df['Screen'] = fill(df['Screen'], value_fillna=15.6)

In [14]:
df['Screen'].isna().sum()

np.int64(0)

In [15]:
# 4- Median value of Screen
df['Screen'].median()

np.float64(15.6)

The Median value of Screen columns is same

## Q7. Sum of Weights

In [16]:
# 1- select the "Innjoo" laptops from the dataset
listInnjoo = df[df['Brand'] == 'Innjoo']

In [17]:
# 2- Select only columns RAM, Storage, Screen
data = listInnjoo[['RAM', 'Storage', 'Screen']]
data

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [18]:
# 3- Tranform to Nympy array
X = np.array(data)

In [19]:
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [20]:
X.T.shape, X.shape

((3, 6), (6, 3))

In [21]:
# 4- Compute Matrix * Matrix
XTX =  np.dot(X.T, X)

In [22]:
# 5- Compute the inverse od "XTX"
invXTX = np.linalg.inv(XTX)

In [23]:
# 6- Creating an array y with valeus [1100, 1300, 800, 900, 1000, 1100]
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [24]:
w = np.dot(invXTX, X.T)
w = np.dot(w, y)

In [25]:
print(f" The sum of all element is {w.sum()}")

 The sum of all element is 91.2998806299555